---
import { fetchSanityData } from '@util'
import type { SanityResult } from '@types'
import type { TReport } from '@schemas'

// Fetch Sanity data
const query = '*[_type == "report"] { ..., "image_url": thumbnail.asset->url }'
const data = await fetchSanityData(query)
const reports: SanityResult<TReport> = data.result
console.log(reports)
const { title } = Astro.params
---

<h1>{title}</h1>
