---
import { Layout } from '@layouts'

export const prerender = true
---

<Layout title='Page Not Found'>
  <main>
    <h1>404</h1>
    <h2>Page Not Found! :/</h2>
  </main>
</Layout>
<style>
  main {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-mono);
  }

  h1 {
    font-size: 5rem;
    color: var(--text-main);
    text-shadow:
      var(--gradient-start) -2px 0 4px,
      var(--gradient-end) 2px 0 4px;
  }
</style>
