---
import { Layout } from '@layouts'
import { Button, SectionHeader } from '@components'
import ProfilePicture from '../img/pfp.png'
import BackgroundStroke from '../img/pfp_outline.svg'
import { Image } from 'astro:assets'
---

<Layout title='Red Williams'>
  <main>
    <section class='hero'>
      <p id='hey'>Hey! I&apos;m</p>
      <h1>Red Williams</h1>
      <h2>student</h2>
      <p class='intro'>
        I&apos;m a student at Virginia Tech studying Computer Engineering and a minor in Computer
        Science, with an expected graduation date of Winter 2025. I&apos;m always seeking to learn
        from others and expand my skillset!
      </p>
      <Button text={"Let's Chat!"} href={'#'} />
    </section>
    <section>
      <SectionHeader title='Essence' />
      <div class='essence-grid'>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum
          est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin
          lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet
          feugiat lectus.
          <br />
          <br />
           Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
          himenaeos. Praesent auctor purus luctus enim egestas, ac scelerisque ante pulvinar. Donec
          ut rhoncus ex. Suspendisse ac rhoncus nisl, eu tempor urna. Curabitur vel bibendum lorem.
          Morbi convallis convallis diam sit amet lacinia. Aliquam in elementum tellus.
        </p>
        <div id='img-wrapper'>
          <Image
            src={ProfilePicture}
            alt='A profile picture with a hexagonal outline'
            quality='high'
            format='png'
            class='pfp'
          />
          <div class='stroke-wrapper translate'>
            <Image
              src={BackgroundStroke}
              alt='A profile picture with a hexagonal outline'
              quality='high'
              format='svg'
              class='stroke rotate'
            />
          </div>
        </div>
      </div>
    </section>
    <section>
      <SectionHeader title='Projects' />
      <!-- TODO - Use array from Sanity query to .map and display project component -->
      <Button text='View the Archive' href='#' />
    </section>
    <section>
      <SectionHeader title='Reports' />
      <!-- TODO - Use array from Sanity query to .map and display blog component -->
    </section>
    <section>
      <h3>Get In Touch</h3>
      <p>
        I am currently looking for Internships around Summer 2024. I would love the opportunity to
        work and learn from you! Please reach out if you have any questions, or would like to hear
        from me. Thanks!
      </p>
      <Button text="Let's Connect" href='#' />
    </section>
  </main>
</Layout>
<style>
  section {
    margin: 30px 0vw;
    max-width: 100%;
  }

  #hey {
    color: var(--text-gray-dark);
    font-family: var(--font-mono);
    font-weight: 700;
    margin-left: 9px;
    font-size: clamp(1.1rem, 2vw, 1.6rem);
  }

  h1 {
    margin-bottom: -5px;
    font-weight: 500;
    color: var(--text-main);
    font-size: clamp(3rem, 5vw, 6rem);
  }

  h2 {
    display: inline-block;
    font-family: var(--font-mono);
    font-weight: 400;
    font-size: clamp(1rem, 3vw, 1.6rem);
    text-transform: capitalize;
    position: relative;
  }

  h2::before {
    --bar-width: 12.5rem;
    content: '';
    background-image: var(--gradient);
    width: clamp(8rem, 18vw, 20rem);
    height: 15px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
  }

  .intro {
    font-size: 1.5rem;
    margin: 2rem 0;
    line-height: 1.8;
    font-size: clamp(1rem, 1.4vw, 5rem);
  }

  #img-wrapper {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    position: relative;
    --x-offset: 6px;
    --y-offset: 7px;
    --translation-factor: 2;
    --transition-duration-rotation: 0.2s;
    --transition-duration-translate: 0.4s;
  }

  img,
  .stroke-wrapper {
    height: auto;
    margin: 1rem auto;
    display: block;
  }

  .pfp {
    width: 55%;
    position: relative;
    z-index: 2;
    transform: translate(calc(-1 * (var(--x-offset))), calc(-1 * (var(--y-offset))));
    /* 
     * On mouse out, wait for rotation undo animation, then translate back into position */
    transition: transform var(--transition-duration-translate) ease
      var(--transition-duration-rotation);
  }

  .stroke {
    width: 45%;
  }

  .stroke-wrapper {
    height: auto;
    position: absolute;
    margin: auto;
    inset: 0;
  }

  .translate {
    transform: translate(var(--x-offset), var(--y-offset));
    opacity: 0.5;
    /* 
     * On mouse out, wait for rotation animation to finish, then translate and  reduce opacity
     */
    transition:
      opacity var(--transition-duration-translate) ease var(--transition-duration-rotation),
      transform var(--transition-duration-translate) ease var(--transition-duration-rotation);
  }

  .rotate {
    /* Undo rotation immediately after hover off */
    transition: transform var(--transition-duration-rotation) ease;
  }

  .pfp:hover {
    transform: translate(
      calc(-1 * var(--translation-factor) * (var(--x-offset))),
      calc(-1 * var(--translation-factor) * (var(--y-offset)))
    );
  }

  .pfp:hover + .translate {
    opacity: 1;
    transform: translate(
      calc(var(--translation-factor) * (var(--x-offset))),
      calc(var(--translation-factor) * (var(--y-offset)))
    );
  }

  .pfp:hover ~ .stroke-wrapper .rotate {
    transform: rotate(60deg);
  }

  @media (min-width: 60em) {
    .intro {
      width: 80%;
    }

    .essence-grid {
      display: grid;
      grid-template-columns: 70% 30%;
      place-items: center;
    }

    #img-wrapper {
      min-width: 16rem;
      --x-offset: 8px !important;
      --y-offset: 14px !important;
      --translation-factor: 1.7 !important;
    }

    .pfp {
      width: 65%;
    }

    .stroke {
      width: 55%;
    }
  }
</style>
