---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Welcome to Astro.'>
  <main>
    <h3>Hey! I&apos;m</h3>
    <h1>Red Williams</h1>
    <h2>student</h2>
    <p>
      I&apos;m a student at Virginia Tech studying Computer Engineering and a minor in Computer
      Science, with an expected graduation date of Winter 2025. I&apos;m always seeking to learn
      from others and expand my skillset!
    </p>
  </main>
</Layout>
