---
import { Layout, PageTableLayout } from '@layouts'

// Sanity functions and types
import type { SanityResult } from '@types'
import type { ReportType } from '@schemas'
import { fetchSanityData, formatDate } from '@util'

// Fetch Sanity data
const query = `*[_type == "report"] { ..., "image_url": thumbnail.asset->url, "slug": slug.current }`
const data = await fetchSanityData(query)
const reports: SanityResult<ReportType> = data.result

reports.forEach((report) => {
  const { day } = formatDate(report.date_published)
  // month (2-digit) / day
  report.date_published = `${report.date_published.substring(5, 7)}/${day}`
})
---

<Layout title='Reports'>
  <PageTableLayout
    title='Reports'
    headerText='Successess, failures, and everything in between in making some of my favorite projects.'>
    {
      reports.map((report) => (
        <tr>
          <th>
            <a href={'/reports/' + report.slug}>{report.title}</a>
          </th>
          <td>{report.date_published}</td>
        </tr>
      ))
    }
  </PageTableLayout>
</Layout>
<style lang='scss'>
  tr {
    grid-template-columns: 1fr auto;
  }

  th {
    text-align: left;
    color: var(--text-main);
    font-weight: normal;
  }

  td {
    text-align: right;
    color: var(--text-gray-dark);
  }
</style>
