---
import { Layout, PageTableLayout } from '@layouts'

// Sanity functions and types
import type { SanityResult } from '@types'
import type { ReportType } from '@schemas'
import { fetchSanityData, formatDate } from '@util'

// Fetch Sanity data
const query = `*[_type == "report"] { ..., "image_url": thumbnail.asset->url, "slug": slug.current }`
const data = await fetchSanityData(query)
const reports: SanityResult<ReportType> = data.result

reports.forEach((report) => {
  const { day } = formatDate(report.date_published)
  // month (2-digit) / day
  report.date_published = `${report.date_published.substring(5, 7)}/${day}`
})
---

<Layout title='Reports'>
  <PageTableLayout
    title='Reports'
    headerText='Successess, failures, and everything in between in making some of my favorite projects.'>
    <thead>
      <tr class='head-row'>
        <th class='head-title'>Title</th>
        <th class='head-subtitle'>Caption</th>
        <th class='head-date'>Date</th>
      </tr>
    </thead>
    <tbody>
      {
        reports.map((report) => (
          <tr class='body-row'>
            <td class='body-heading'>
              <a href={'/reports/' + report.slug}>{report.title}</a>
            </td>
            <td class='subtitle'>{report.caption}</td>
            <td class='date'>{report.date_published}</td>
          </tr>
        ))
      }
    </tbody>
  </PageTableLayout>
</Layout>
<style lang='scss'>
  @use 'src/main' as *;

  $cell-padding: 10px;

  tr.head-row {
    .head-title {
      width: auto;
      text-align: left;
    }
    .head-subtitle {
      display: none;
    }

    .head-date {
      text-align: right;
      width: 70px;
    }

    & > * {
      padding: $cell-padding;
      letter-spacing: 0.05em;
      font-family: var(--font-mono);
      text-transform: uppercase;
    }

    color: var(--text-gray-light);
    border-bottom: 1px solid var(--text-gray-light);
  }

  @media (min-width: $breakpoint-main) {
    tr.head-row {
      .head-title {
        width: 40%;
      }
      .head-subtitle {
        display: table-cell;
        width: 55%;
      }

      .head-date {
        width: 7%;
      }

      text-align: left;
    }
  }

  .subtitle {
    white-space: nowrap;
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
    text-overflow: ellipsis;
    color: var(--text-gray-light);
    display: none;
  }

  .date {
    color: var(--text-gray-light);
    font-family: var(--font-mono);
    text-align: left;
    width: 70px;
    text-align: right;
  }

  @media (min-width: $breakpoint-main) {
    .subtitle {
      display: table-cell;
    }
  }

  .body-row {
    border-bottom: 1px solid #3f3f3f;
    & > * {
      padding: $cell-padding;
    }
  }
</style>
