---
import type { HTMLAttributes } from 'astro/types'
import type { HTMLAttributeAnchorTarget } from 'react'
/* 
  I like: 
    https://uiverse.io/gharsh11032000/foolish-sloth-90
    https://uiverse.io/mrtqzbek11/moody-bulldog-15
*/

interface Props extends HTMLAttributes<'button'> {
  href: string
  text: string
  target?: HTMLAttributeAnchorTarget
}

const { href, text, target, ...attrs } = Astro.props
---

<div class='button-container' {...attrs}>
  <button>
    <a href={href} target={target ?? '_blank'} referrerpolicy='no-referrer'>{text}</a>
  </button>
</div>
<style lang='scss'>
  button {
    width: fit-content;
    cursor: pointer;
    border: solid 1px transparent;
    background-image: linear-gradient(var(--bg-color), var(--bg-color)), var(--gradient);
    border-image-slice: 1;
    border-radius: 4px;
    background-color: var(--bg-color);
    padding: 0.7em 3.5em;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    display: block;
    position: relative;
    transition: all 0.3s ease-in-out;
    z-index: 1;
  }

  .button-container {
    position: relative;
    width: fit-content;

    &:hover button {
      transform: translate(-4px, -4px);
    }
  }

  .button-container::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--gradient);
    inset: 0 0 0 0;
    border-radius: 4px;
  }
  a {
    color: var(--text-main);
  }
</style>
