---
import type { TProject } from '../../schemas/project'

interface Props {
  project: TProject
}
const { project } = Astro.props
---

<!-- FIXME - Scoping issue with AsideSVG translate left on hover -->
<li>
  <p>Featured</p>
  <h3>{project.title}</h3>
  <p>{project.description}</p>
  <ul>
    {
      project.technologies.map((tech) => {
        return <li>{tech}</li>
      })
    }
  </ul>
</li>
