---
interface Props {
  title: string
  headerText: string
}

const { title, headerText } = Astro.props
---

<main class='ptl-content'>
  <header class='front-matter'>
    <h1 class='header'>{title}</h1>
    <p>{headerText}</p>
  </header>
  <table>
    <slot />
  </table>
</main>

<style lang='scss' is:global>
  @use 'src/main' as *;
  .ptl-content {
    padding-top: 6rem;
    h1 {
      color: var(--text-main);
      font-weight: 400;
      margin-bottom: 0.5rem;
    }

    p {
      margin-bottom: 2rem;
    }

    table {
      border-collapse: collapse;
      width: 100%;
      table-layout: fixed;
    }
  }
</style>
